<div class = "div1"><span style="color:deepskyblue">Step 1</span><span> - Please enter the ingredients</span> </div>
<div class="div2">
  <label style="margin-right: 15px" >Cooking Ingredients:</label>
  <input [(ngModel)]="ingredientcomp" style="width:150px;height:35px;margin-right:15px;background: #fff;" type="text">
  <button class="btn btn-success" style="width:80px;height:35px" (click)="addGredient()" >Add</button>
</div>
<div class = "div3">
  <span style="color:deepskyblue">Step 2</span><span> - Cook the ingredients</span>
</div>
<div class="div4">
  <label style="margin-right: 15px" >Ingredients in pot:</label>
  <div style="border:solid 2px;width:200px;height:200px">
    <div *ngFor="let ingredient of ingredients" style="margin-left:30%;margin-top:5%">
      {{ingredient}}
    </div>
    <div *ngIf="success"style="font-size:18px;margin-left:15%;margin-top:42%;color:mediumvioletred"> {{dish}}Cooked! </div>
    <div *ngIf="fail" style="font-size:18px;margin-left:12%;margin-top:45%;color:darkorange"> Nothing Cooked! </div>
  </div>
</div>
<div class="div5">
  <button class="btn btn-dark"  (click)="checkGredient()" >COOK IN THE KITCHEN</button>
</div>
<!--<h4>This is a Component Example. </h4>
<p> Server with ID {{ serverId }}  is {{ serverStatus }} </p>
<p> {{ 'Server' }} with ID {{ serverId }}  is {{ serverStatus }} </p>
<p> {{ 'Server' }} with ID {{ serverId }}  is {{ getServerStatus() }} </p>

<hr>
<h4>This is a counter</h4>
<p> {{ counter }} </p>
<button class="btn btn-primary" (click)="counterPlus()" style="margin-right: 10px"> Add One</button>
<button class="btn btn-primary" (click)="resetCounter()"> Reset Counter</button>

<hr>
<h4>This is a input Box with Event Binding</h4>
<div>
  <span>User Name: </span>
  <input type="text" (input)="onUpdateUserName($event)">
</div>

<div>
  <span>Password: </span>
  <input type="password">
</div>
<div *ngIf="isLogin" class="informBoxBoarder"> You Loggedin as {{ userName }} </div>
<button class="btn btn-light" (click)="login()" style="margin-right: 10px"> Login </button>
<button class="btn btn-light" (click)="signOut()"> Sign Out </button>

<hr>
<h4>This is a input Box with Two Way Data Binding</h4>
<div>
  <span>User Name: </span>
  <input type="text" [(ngModel)]="userName">
</div>

<div>
  <span>Password: </span>
  <input type="password">
</div>
<div *ngIf="isLogin" class="informBoxBoarder"> You Loggedin as {{ userName }} </div>
<button class="btn btn-light" (click)="login()" style="margin-right: 10px"> Login </button>
<button class="btn btn-light" (click)="signOut()"> Sign Out </button>

<hr>
<h4>This is a StudentList managed by ngfor loop</h4>
<div *ngFor="let student of students">
  <div style="margin-bottom: 2px;border-left: solid 2px; border-right: solid 2px; border-bottom: solid 2px; border-top: solid 2px; display: flex; justify-content: space-between">
    <div><span style="color: cornflowerblue; margin-right: 5px">Student Name: </span> <span> {{ student.name }}</span></div>

    <div><span style="color: cornflowerblue; margin-right: 5px;">Student Major: </span> <span>{{ student.major }}</span></div>
  </div>
</div>
-->
